html, body {
    height: 100%;
}

h1 {
  color: black;
  text-align: left;
  vertical-align: text-bottom;
  margin-top: 79px;
  padding-left: 25px;
}

h2 {
	color: black;
	vertical-align: middle;
  text-align: center;
}

h3 {
  color: black;
  vertical-align: top;
}

h4 {
  color: grey;
  vertical-align: bottom;
  text-align: center;
}

main {
  min-height: 100%;
  margin-bottom: -100px;
  margin-top: 30px;
  margin-right: 10px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
}

article {
  max-width: 100%;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
}

aside {
  width: 25%;
  margin-top: 30px;
  top: 0;
  right: 0;
  padding-top: 20px;
  background-image: none;
}

header, footer {
  color: white;
  background-color: black;
  text-align: center;
  display: block;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

p > header {
  color: white;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 85%;
    height: auto;
}

.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}

.navigation {
  border: grey;
  text-align: center;
}

.flexer {
  display: flex;
  flex-direction: column;
}

.backgrounded {
  background: url(../images/jesse-brack-169152.jpg);
  /* Image downloaded from unsplash.com */
}

a:hover, a:hover:visited {
  color: lime;
  text-transform: uppercase;
  text-emphasis-color: lime;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;

}
